<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liftapp" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.liftapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.liftapp.Exercises"
            android:label="@string/title_activity_exercises" >
        </activity>
        <activity
            android:name="com.example.liftapp.Counter"
            android:label="@string/title_activity_counter" >
        </activity>
        <activity
            android:name="com.example.liftapp.Incrementor$EditPage"
            android:label="@string/title_activity_edit_page" >
        </activity>
        <activity
            android:name="com.example.liftapp.EditPage"
            android:label="@string/title_activity_edit_page" >
        </activity>
        <activity
            android:name="com.example.liftapp.EditWorkout"
            android:label="@string/title_activity_edit_workout" >
        </activity>
        <activity
            android:name="com.example.liftapp.EditExercise"
            android:label="@string/title_activity_edit_exercise" >
        </activity>
        <activity
            android:name="com.example.liftapp.AddExercise"
            android:label="@string/title_activity_add_exercise" >
        </activity>
        <activity
            android:name="com.example.liftapp.SetsView"
            android:label="@string/title_activity_sets_view" >
        </activity>
    </application>

</manifest>
